/*------------------------------------------------------------------
[Table of contents]

1. General elements
2. Sidebar
3. Checkout
4. Prettyphoto
5. Single Products
-------------------------------------------------------------------*/


/*------------------------------------------------------------------
[1. General elements]
*/
.pixia_woo_page {
  margin-bottom: 5*$css_theme_gutter;
}
.woocommerce .pixia_forced_menu #single_page_title {
  margin-top: 0px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs:before {
  border-color: transparent;
}
html #content .woocommerce input, 
html .woocommerce-page #content input#submit {
  @include border-radius(0px);
}
#content .woocommerce,
.woocommerce-page #content {
  /*3.0*/
  div.product {
    div.images {
      .flex-control-nav {
        position: relative;
        width: auto;
          top: 0px;
          bottom: inherit;
          right: inherit;
          float: none;
      }
      .flex-control-thumbs li {
        margin-right: 3.8%;
        margin-top: 3.8%;
        width: 22.1%;
        &:nth-child(4),
        &:nth-child(8),
        &:nth-child(12),
        &:nth-child(16),
        &:nth-child(20) {
          margin-right: 0px;
        }
        img {
          @include transition-property(opacity);
          @include transition-duration(0.2s);
          -webkit-transform: translate3d(0, 0, 0);
        }
      }
    }
  }
  address {
    line-height: inherit;
  }
  #main .button,
  .button {
    @include border-radius(0px);
    @include transition-property(background-color);
    @include transition-duration(0.2s);
    outline: none;
    font-weight: 600;
    @include box-shadow(none);
    @include text-shadow(none);
    border-width:0px;
    padding: 10px 12px;
  }
  input {
    @include appearance (none);
    font-size: 0.9em;
    @include box-shadow(none);
    @include text-shadow(none);
    @include border-radius(0px);
    outline: 0;
    @include transition-property(border,background-color);
    @include transition-duration(0.45s);
  }
  input[type="radio"] {
    @include appearance (radio);
    width: 14px;
  }
  input[type="checkbox"] {
    @include appearance (checkbox);
    width: 14px;
  }
  table {
    td {
      border-bottom-width:0px;
    }
    th {
      border-bottom-width:0px;
      border-right-width: 0px;
    }
  }
  .widget_product_search {
    .woocommerce-product-search {
      position: relative;
    }
    .screen-reader-text {
      display: none;
    }
    .search-field {
      padding: 0px 32px 0px 15px;
      width: 100%;
      font-size: 1em;
      height: 38px;
      line-height: 38px;
    }
    i,
    input[type="submit"] {
      position: absolute;
      right: 0px;
      top: 0px;
      cursor: pointer;
      font-size: 16px;
      height: 38px;
      width: 18%;
      text-align: center;
      line-height: 38px;
      min-width: 32px;
      z-index: 1;
    }
    input[type="submit"] {
      z-index: 2;
      background: transparent !important;
    }
  }
  dd {
    margin: 0px;
  }
  .customer_details {
    margin-bottom: 3*$css_theme_gutter;
    dt {
      font-weight: 600;
    }
    dd {
      margin-bottom: $css_theme_gutter;
    }
  }
  .woocommerce-info {
    &:before,
    a {
      color: #1e85be;
    }
    #coupon_code {
      padding: 6px 10px;
    }
  }
  .woocommerce-error {
    &:before,
    a {
      color: #b81c23;
    }
  }
  #main div.product {
    .woocommerce-tabs {
      >ul {
        padding: 0px;
        margin: 0px;
        >li {
          @include box-shadow(none);
          @include text-shadow(none);
          @include border-radius(0);
          margin: 0px -1px 0px 0px;
          float: left;
          border:1px solid transparent;
          background-color: transparent;
        }
        >li:before,
        >li:after {
          display: none;
        }
      }
      .panel {
        margin-top: -1px;
        padding: $css_theme_gutter;
      }
    }
  }
  h1,h2 {
    font-weight: 600;
    text-align: left;
  }
  h2 {
    font-size: 1.85em;
  }
  .pixia_woo_page h1.page-title {
    display: none;
  }
  .pixia_woo_hidden {
    display: none;
  }
  .pixia_woo_thumb_wrapper {
    position: relative;
    * {
      @include box-sizing(border-box);
    }
  }
  .woocommerce #payment div.payment_box, 
  .woocommerce-page #payment div.payment_box,
  .woocommerce-page .woocommerce-error, 
  .woocommerce-page .woocommerce-info, 
  .woocommerce-page .woocommerce-message,
  .woocommerce .woocommerce-error, 
  .woocommerce .woocommerce-info, 
  .woocommerce .woocommerce-message {
    @include text-shadow(none);
    @include box-shadow(none);
    @include border-radius(0);
  }
  .woocommerce-page .woocommerce-error:before, 
  .woocommerce-page .woocommerce-info:before, 
  .woocommerce-page .woocommerce-message:before,
  .woocommerce .woocommerce-error:before, 
  .woocommerce .woocommerce-info:before,
  .woocommerce .woocommerce-message:before {
    background: transparent;
    @include text-shadow(none);
    @include box-shadow(none);
    padding-left: 2px;
  }
  span.onsale {
    @include box-sizing(border-box);
    @include text-shadow(none);
    @include box-shadow(none);
    @include border-radius(50%);
    right: 14px;
    top: -4px;
    z-index: 1;
    width: 46px;
    height: 46px;
    line-height: 46px;
    padding: 0px;
  }
  .products_ul_slider li.product,
  ul.products li.product {
    h3 {
      font-size: 16px;
    }
  }
  .price {
    font-weight: 600;
    float: right;
  }
  .products_ul_slider li.product,
  ul.products li.product {
    /*clear: none;*/
    margin: 0px;
    width: 100%;
    margin-bottom: 2*$css_theme_gutter;
    h3 {
      padding:0px;
    }
  }
  .woocommerce.columns-1,
  .woocommerce.columns-2,
  .woocommerce.columns-3,
  .woocommerce.columns-4,
  .woocommerce.columns-5,
  .woocommerce.columns-6,
  &.pixia_cols-2,
  &.pixia_cols-3,
  &.pixia_cols-4,
  .related {
    ul.products {
      margin-left: -$css_theme_gutter;
      margin-right: -$css_theme_gutter;
      li.product {
        @include box-sizing (border-box);
        width: 33.33333%;
        padding-left: $css_theme_gutter;
        padding-right: $css_theme_gutter;
      }
    }
  }
  .woocommerce.columns-1,
  &.pixia_cols-1 {
    .products_ul_slider li.product,
    ul.products li.product {
      width: 100%;
    }
  }
  .woocommerce.columns-2,
  &.pixia_cols-2 {
    .products_ul_slider li.product,
    ul.products li.product {
      width: 50%;
    }
  }
  .woocommerce.columns-4,
  &.pixia_cols-4 {
    .products_ul_slider li.product,
    ul.products li.product {
      width: 25%;
    }
  }
  .woocommerce.columns-5,
  &.pixia_cols-5 {
    .products_ul_slider li.product,
    ul.products li.product {
      width: 20%;
    }
  }
  .woocommerce.columns-6,
  &.pixia_cols-6 {
    .products_ul_slider li.product,
    ul.products li.product {
      width: 16.66667%;
    }
  }
  .products_ul_slider.owl-theme {
    .owl-controls {
      @include opacity(0);
      @include transition-property(opacity);
      @include transition-duration(0.3s);
    }
    .owl-controls .owl-buttons {
      top: 40%;
      margin-top: -18px;
      width: 100%;
      left: 0px;
      height: 0px;
      i {
        font-size: 33px;
        line-height: 18px;
      }
      .owl-prev {
        margin-left: 0px;
        float: left;
        @include border-radius(50%);
        width: 36px;
        height: 36px;
        i {
          margin-left: -2px;
        }
      }
      .owl-next {
        margin-right: 0px;
        float: right;
        @include border-radius(50%);
        width: 36px;
        height: 36px;
        i {
          margin-left: 4px;
        }
      }
    }
    .price {
      float: right;
      ins {
        float: right;
      }
    }
    &:hover {
      .owl-controls {
        @include opacity(1);
      }
    }
  }
  .pixia_woo_slide {
    padding-left: $css_theme_gutter;
    padding-right: $css_theme_gutter;
    padding-top: 20px;
  }
  .pixia_woo_thumb_wrapper {
    .pixia_woo_thumb {
      overflow: hidden;
      position: relative;
      line-height: 0px;
      margin: 0 0 1em;
      img {
        @include scale(1);
        @include transition-duration(0.3s);
        @include transition-property(transform);
        margin: 0px;
        -webkit-backface-visibility: hidden;
      }
      .pixia_woo_add_button {
        line-height: 36px;
        position: absolute;
        bottom: -36px;
        height: 36px;
        right: 0px;
        width: 100%;
        @include opacity(0.94);
        @include transition-property(bottom,color);
        @include transition-duration(0.3s);
        padding: 0px 12px;
        font-size: 0.9em;
        i {
          line-height: 36px;
          font-size: 16px;
        }
      }
    }
    &:hover {
      img {
        @include transform(scale(1.1));
      }
      .pixia_woo_add_button {
        bottom: 0px;
      }
    }
  }
  .pixia_woo_product_info {
    float: left;
    margin-bottom: 6px;
  }
  ins {
    text-decoration: none;
  }
  .price {
    font-size: 16px;
    line-height: 1.2em;
    ins {
      text-decoration: none;
      font-weight: 600;
    }
    del {
      font-size: 0.9em;
      padding-top: 4px;
    }
  }
  .product_type_simple, /*OUT OF STOCK BUTTON*/
  .star-rating,
  .add_to_cart_button {
    display: none;
  }
  .pixia_woo_cats {
    font-size: 0.85em;
    padding-top: 6px;
  }
  .pixia_woo_hidden {
    display: block;
  }
  
  .pixia_woo_widget {
    .products>li:last-child .pixia_woo_el_wrapper {
      border-bottom-width: 0px;
    }
    .pixia_woo_el_wrapper {
      padding-bottom: 12px;
      margin-bottom: 12px;
      .product {
        margin-bottom: 0px;
      }
      .pixia_woo_cats {
        display: none;
      }
      .price {
        font-size: 14px;
        del,
        ins {
          font-size: 14px;
        }
        del {
          padding-bottom:2px;
        }
      }
    }
    .pixia_woo_thumb_wrapper {
      width:24%;
      float: left;
      margin-right: 4%;
      margin-bottom: 20px;
      >li {
        margin-bottom: 0px;
      }
      .pixia_woo_thumb {
        overflow: hidden;
        margin-bottom: 0px;
      }
      .pixia_woo_add_button,
      span.onsale {
        display: none;
      }
      &:hover {
        img {
          @include transform(rotate(0deg) scale(1));
        }
      }
    }
    .price {
      font-size: 16px;
    }
    .price,
    .pixia_woo_product_info {
      width: 62%;
      float: left;
      ins,
      del {
        float: none;
      }
    }
    .product h3 {
      font-size: 16px !important;
      font-weight: 600;
    }
    &.by_rating {
      .star-rating {
        /*display: block;*/
      }
    }
  }
  .woocommerce-result-count {
    font-weight: 600;
    font-size: 1.35em;
  }
  .woocommerce-ordering,
  .woocommerce-result-count {
    margin-bottom: 2*$css_theme_gutter;
  }
  .woocommerce .woocommerce-pagination ul.page-numbers, 
  .woocommerce-page .woocommerce-pagination ul.page-numbers {
    border-width: 0px;
    li {
      line-height: 40px;
      text-align: center;
      border-width: 0px;
      span,
      a {
        background: transparent;
        padding: 0px 8px;
          line-height: 40px;
          @include transition-property(color);
        @include transition-duration(0.3s);
        &.prev {
          margin-right: 3*$css_theme_gutter;
        }
        &.next {
          margin-left: 3*$css_theme_gutter;
        }
        &.current {
          text-decoration: underline;
        }
      }
    }
  }
  #prk_hidden_cart {
    i {
      font-size: 20px;
      padding-right: 6px;
      top: 1px;
      position: relative;
    }
  }
  .cart-collaterals .cart_totals table {
    @include border-radius(0);
  }
  /* CHECKOUT */
  table.shop_table {
    @include border-radius(0);
    th {
      /* TODO ADD WITH NEW WC VERSION IF NEEDED
      border-bottom-style: solid;
      border-bottom-width: 1px; */
    }
    td {
      border-left-width: 0px;
      border-right-width: 0px;
      &.actions {
        border-bottom-width: 0px;
      }
    }
    &.customer_details,
    &.order_details,
    &.woocommerce-checkout-review-order-table {
      th {
        border-bottom-width: 0px;
      }
    }
  }
  #main table.shop_table.customer_details tr:first-child td {
    border-top: 0px;
  }
  /* TODO REMOVE WITH NEW WC VERSION IF NEEDED */
  .shipping_calculator {
    margin-top: 2*$css_theme_gutter;
    text-align: right;
    h2 {
      font-weight: 600;
      font-size: 18px;
    }
    a:after {
      font-size: 16px;
    }
  }
  #main .shop_table.cart,
  .shop_table.cart {
    #coupon_code {
      height: 30px;
      line-height: 30px;
      min-width: 120px;
    }
    .button {
      font-size: 11px;
      font-weight: 400;
      height: 30px;
      line-height: 30px;
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }
  .cart-collaterals {
    .cart_totals {
      @include border-radius(0);
      text-align: right;
      .wc-proceed-to-checkout,
      table {
        float: right;
      }
      td {
        padding-right: 8px;
        width: 20%;/*TODO REMOVE ON NEW VERSION*/
      }
      .wc-proceed-to-checkout {
        margin-bottom: 4*$css_theme_gutter;
      }
    }
    h2 {
      padding-bottom: $css_theme_gutter;
      font-size: 1.45em;
    }
    padding-top: 3*$css_theme_gutter;
    .cart_totals {
      width: 66%;
    }
  }
  #pixia_content_inner {
    .cart-collaterals .cart_totals table {
      border-top-width: 0px;
    }
  }
  .shipping-calculator-form {
    .sod_list {
      max-height: 200px;
    }
    input {
      padding: 6px 10px;
    }
  }
  #customer_details {
    margin-bottom: 3*$css_theme_gutter;
    h3 {
      margin-bottom: $css_theme_gutter;
    }
    input {
      padding: 6px 10px;
    }
  }
  #reviews h3 {
    margin-top: 2*$css_theme_gutter;
  }
  #order_review_heading {
    margin-bottom: $css_theme_gutter;
  }
  #ship-to-different-address-checkbox {
    @include appearance (checkbox);
  }
  /* CART */
  .pixia_woo_empty {
    h2,
    .cart-empty {
      margin-bottom: $css_theme_gutter;
    }
    .return-to-shop {
      margin-bottom: 6*$css_theme_gutter;
    }
    .simple_line {
      margin-bottom: 2*$css_theme_gutter;
    }
  }
}
#wrap #content .woocommerce, 
#wrap .woocommerce {
  .woocommerce-message a:hover {
    background-color: #8FAE1B;
  }
  .checkout_coupon input.button:hover {
    background-color: #1E85BE;
  }
}

/*------------------------------------------------------------------
[2. Sidebar]
*/
#wrap #pls_right_sidebar {
  padding-top: 0px;
  ul.product_list_widget li {
    margin-bottom: 12px;
    img {
      width: 80px;
      margin-bottom: 12px;
    }
    &:last-child {
      border-bottom-width: 0px;
      margin-bottom: 0px;
    }
  }
}

/*------------------------------------------------------------------
[3. Checkout]
*/
.woocommerce-checkout #wrap .woocommerce {
  #payment {
    margin-bottom: 4*$css_theme_gutter;
    @include border-radius(0);
    background-color: #FFFFFF;
    div.payment_box:after {
      top:-2px;
    }
  }
  table {
    border-spacing: 0px 2px;
  }
  h3,
  h2 {
    margin-bottom: 10px !important;
    font-size: 1.35em;
    font-weight: 600;
    width: 100%;
  }
  h3 {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-bottom: 12px;
    label {
      display: inline;
      font-weight: 600;
    }
  }
  #order_review_heading {
    border-bottom-width: 0px;
  }
  .woocommerce-billing-fields {
    h3 {
      margin-bottom: 2*$css_theme_gutter !important;
    }
  }
  h4 {
    margin-bottom: $css_theme_gutter;
  }
  ul.order_details {
    margin: 0px 0px $css_theme_gutter;
    padding: 0px;
  }
  .simple_line {
    margin: 0px 0px 4*$css_theme_gutter;
  }
  table.order_details,
  table.customer_details {
    margin: 0px 0px 3*$css_theme_gutter;
  }
  .pixia_woo_checkout {
    h3 {
      font-size: 14px;
      border-bottom-width: 0px;
      margin-top: $css_theme_gutter;
    }
    >p {
      margin-bottom: 4*$css_theme_gutter;
    }
  }
  .pixia_woo_thankyou {
    margin-bottom: 4*$css_theme_gutter;
  }
  tr.order_item .product-name {
    font-weight: bold;
  }
}
/*------------------------------------------------------------------
[4. Prettyphoto]
*/
body {
  .pp_pic_holder.pp_woocommerce {
    .ppt {
      display: none !important;
    }
    .pp_content_container {
      @include border-radius(0);
    }
    .pp_description {
      margin: 0px 0px 10px;
      font-weight: 600;
    }
    .pp_arrow_next, 
    .pp_arrow_previous {
      margin-top: 3px;
    }
  }
}
/*------------------------------------------------------------------
[5. Single Product]
*/
.woocommerce.single-product #wrap #content {
  h1 {
    font-size: 34px;
    margin-bottom: 8px;
  }
  #single_page_title {
    display: none;
  }
  .summary {
    .price {
      margin-bottom: 26px;
      width: 100%;
      float: left;
      del {
        float: none;
        padding-left: 8px;
        display: inline-block;
        .amount {
          font-size: 12px;
        }
      }
      >ins .amount,
      >.amount {
        font-size: 24px;
      }
    }
    .cart {
      margin-top: $css_theme_gutter;
      padding-bottom: 34px;
      position: relative;
      margin-bottom: 3*$css_theme_gutter;
    }
    .cart:after {
      content:"";
      width: 34px;
      height: 4px;
      position: absolute;
      bottom: -2em;
    }
    .star-rating {
      display: block;
      margin-bottom: $css_theme_gutter;
    }
  }
  .quantity {
    margin-right: 1px;
    .plus,
    .minus {
      height: 17px;
    }
  }
  .quantity.buttons_added,
  input.qty,
  .single_add_to_cart_button {
    height: 34px;
    @include box-sizing(border-box);
  }
  span.onsale {
    top: -8px;
  }
  .product_meta {
    font-size: 0.9em;
    font-weight: 600;
    >span {
      width: 100%;
      display: block;
    }
  }
  .woocommerce-tabs {
    padding-top: 3*$css_theme_gutter;
    margin-bottom: 4*$css_theme_gutter;
    #comments>h2,
    #tab-description>h2 {
      display: none;
    }
  }
  .related {
    >h3,
    >h2 {
      margin-bottom: $css_theme_gutter;
      font-weight: 600;
    }
    .price {
      float: right;
      font-size: 16px;
      line-height: 1.2em;
      del {
        padding-right: 4px;
        font-size: 0.8em;
      }
      ins {
        float: right;
      }
    }
  }
}
@media only screen and (max-width: 768px) { 
  #wrap,
  #wrap .woocommerce,
  .woocommerce #wrap {
    .pixia_woo_widget {
      .price,
      .pixia_woo_product_info {
        float: right;
        text-align: right;
      }
    }
    .woocommerce.columns-3,
    .woocommerce.columns-4,
    .woocommerce.columns-5,
    .woocommerce.columns-6,
    .pixia_cols-3,
    .pixia_cols-4,
    .related {
      ul.products {
        li.product {
          width: 50%;
          padding-left: $css_theme_gutter;
          padding-right: $css_theme_gutter;
          &.first {
            clear: none;
          }
        }
      }
    }
    .woocommerce.columns-4,
    .pixia_cols-4 {
      .products_ul_slider li.product,
      ul.products li.product {
        width: 50%;
        &.first {
          clear: none;
        }
      }
    }
    .woocommerce.columns-5,
    .pixia_cols-5 {
      .products_ul_slider li.product,
      ul.products li.product {
        width: 50%;
        &.first {
          clear: none;
        }
      }
    }
    .woocommerce.columns-6,
    .pixia_cols-6 {
      .products_ul_slider li.product,
      ul.products li.product {
        width: 50%;
      }
      &.first {
        clear: none;
      }
    }
  }
}
@media(max-width:480px) { 
  #wrap,
  #wrap .woocommerce,
  .woocommerce #wrap {
    div.product div.summary,
    div.product div.images {
      width: 100%;
    }
    .woocommerce.columns-2,
    .woocommerce.columns-3,
    .woocommerce.columns-4,
    .woocommerce.columns-5,
    .woocommerce.columns-6,
    .pixia_cols-2,
    .pixia_cols-3,
    .pixia_cols-4,
    .related {
      ul.products {
        margin-left: -$css_theme_gutter;
        margin-right: -$css_theme_gutter;
        li.product {
          width: 100%;
          padding-left: $css_theme_gutter;
          padding-right: $css_theme_gutter;
        }
      }
    }
    .woocommerce.columns-2,
    .pixia_cols-2 {
      .products_ul_slider li.product,
      ul.products li.product {
        width: 100%;
      }
    }
    .woocommerce.columns-4,
    .pixia_cols-4 {
      .products_ul_slider li.product,
      ul.products li.product {
        width: 100%;
      }
    }
    .woocommerce.columns-5,
    .pixia_cols-5 {
      .products_ul_slider li.product,
      ul.products li.product {
        width: 100%;
      }
    }
    .woocommerce.columns-6,
    .pixia_cols-6 {
      .products_ul_slider li.product,
      ul.products li.product {
        width: 100%;
      }
    }
  }
}